* {
    font: Open Sans Regular;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #f2f4f8;
}

.navbar {
    height: 66px auto;
    width: 1440px auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.18);

    &.keep-navbar {
        position: sticky;
        top: 0;
        z-index: 100;
    }

        .circle {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        border: solid;
        border-color: #817c7c;
        background-color: #6836c3;
        color: #fff;
        text-align: center;
        font-size: 14px;
        overflow: hidden;
        }

        a {
            color: #fff;
            text-decoration: none;
        }
}



section .container-alert {
    padding: 20px;

    .alert {
        height: 45px auto;
        width: 940px auto;
        background-color: #dfeffd;
        border-color: transparent;
    }
}

section .container-article {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    width: auto;
    padding: 20px;
    justify-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.18);


    .card {
        margin-bottom: 4rem;
        img {
            object-fit: cover;
            cursor: pointer;
        }
    }
}

div#ContactUs {
    background: url('https://res.cloudinary.com/dxg9gszax/image/upload/v1649861696/training_resource_wb8i8g.jpg') no-repeat center center/ cover;
}

form {
    background-color: #ffffff;
    width: 76%;
    margin: auto;
    padding: 20px;

}
@media screen and (max-width: 768px) {
    section .container-article {
        grid-template-columns: auto;
        .card {
            margin-bottom: 4rem;
        }
    }
}